<button class="ck ck-button ck-off"
		type="button"
		tabindex="-1"
		>
	<svg class="ck ck-icon ck-button__icon" viewBox="0 0 20 20">
		<path d="M10.187 17H5.773c-.637 0-1.092-.138-1.364-.415-.273-.277-.409-.718-.409-1.323V4.738c0-.617.14-1.062.419-1.332.279-.27.73-.406 1.354-.406h4.68c.69 0 1.288.041 1.793.124.506.083.96.242 1.36.478.341.197.644.447.906.75a3.262 3.262 0 0 1 .808 2.162c0 1.401-.722 2.426-2.167 3.075C15.05 10.175 16 11.315 16 13.01a3.756 3.756 0 0 1-2.296 3.504 6.1 6.1 0 0 1-1.517.377c-.571.073-1.238.11-2 .11zm-.217-6.217H7v4.087h3.069c1.977 0 2.965-.69 2.965-2.072 0-.707-.256-1.22-.768-1.537-.512-.319-1.277-.478-2.296-.478zM7 5.13v3.619h2.606c.729 0 1.292-.067 1.69-.2a1.6 1.6 0 0 0 .91-.765c.165-.267.247-.566.247-.897 0-.707-.26-1.176-.778-1.409-.519-.232-1.31-.348-2.375-.348H7z"></path>
	</svg>
	<span class="ck ck-tooltip ck-tooltip_s">
		<span class="ck ck-tooltip__text">
			Save
		</span>
	</span>
	<span class="ck ck-button__label" id="ck-editor__aria-label_e2c76e60af78efe0853ac000da08072af">
		Save
	</span>
</button>
